body{
    background-color: #a98ed0;
    color: #29292e;
    text-align: center;
    font-family: sans-serif;    
}

img {
    margin-top: 100px;
}

#container {
    width: 80%;
    max-width: 400px;
    
    margin-left: auto;
    margin-right: auto;
}
